body {
  background-color: black;
}
.container {
  display: block;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
}
.App {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
}

.blocker {
  display: block;
}

.bluebelly {
  color:white;
  background-color: blue;
  height: 40px;
  font-size: 20px;
}

.position {
  text-align: center;
  width: 100%;
  
  
}

.films-style {
  color: white;
  text-align: center;
  justify-content: center;
  display: flex;
}


.button-position {
  display: inline;
  
  
  
  
}
#buttons {
  display: inline;
  
}

#launch {
  margin-right: 20px;
}

#people {
  margin-right: 20px;
}